pkgbase = tmparch
	pkgdesc = Part of the tmplinux suite. Temporary Arch Linux
	pkgver = 2.3.0
	pkgrel = 1
	url = https://github.com/tmplinux/tmparch
	arch = any
	license = MIT
	depends = bash
	depends = arch-install-scripts
	depends = shadow
	depends = util-linux
	depends = systemd
	depends = squashfs-tools
	source = tmparch
	sha256sums = SKIP

pkgname = tmparch
